{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- WRAPPER -->
        <div class="wrapper">

            
            <!-- CONTENT AREA -->
            <div class="content-area">

                <!-- BREADCRUMBS -->
                <section class="page-section breadcrumbs text-center">
                    <div class="container">
                        <div class="page-header">
                            <h1>About us</h1>
                </section>
                <!-- /BREADCRUMBS -->

                <!-- PAGE -->
                <section class="page-section color">
                    <div class="container">

                        <p class="text-center lead"><strong>Who are we?</strong>

We are the company of Rooftop. We are a real estate company that was established in 2020 and has been operating for 3 years. Our mission is to provide our customers with the most convenient and easy service for choosing and selling their home.

Our field of activity is buying and selling and renting houses in Baku city and surrounding regions. Professional and experienced specialists work in our company, they will find the most suitable home options for you, taking into account your interests.

Our company places ads on well-known real estate sites such as bina.az, rahatemlak.az and establishes online contact with our customers. The name of our company reflects our principle of operation: we welcome each of our customers as if they were at home and try to make them feel at home.

We are Rooftop company and we will help you find the best home for you!
                        </p>
                        <hr class="page-divider"/>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="thumbnail thumbnail-team no-border no-padding">
                                    <div class="media">
                                        <img src="{% static 'assets/img/preview/team/team-270x270x1.jpg' %}" alt=""/>
                                    </div>
                                    <div class="caption agents-pad">
                                        <h4 class="caption-title">Gunay Seyidova <small>Customer service manager</small></h4>
                                        <ul class="social-icons">
                                            <li><a href="https://www.facebook.com/profile.php?id=100056406723015" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://twitter.com/emin4564" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="https://www.instagram.com/emin_official_m_ov/" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="https://www.pinterest.com/eminmm44/" class="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                        <div class="caption-text">Gunay Seyidova is an experienced manager specializing in customer services. Working on customer satisfaction-based projects in various fields for many years, Gunay works primarily to understand customer needs and offer them the best service.

Gunay Seyidova's leadership skills lead the customer service department to success by motivating and training her team. Encourages team members to reach their potential and supports them to use their strengths to deliver personal and satisfying customer experiences.

As a customer-focused manager, Gunay successfully uses empathy and effective communication skills to resolve customer complaints and support customer relationships. It also makes improvements to improve service quality by analyzing customer feedback.

Gunay Seyidova builds a strong and cohesive bridge between employees and customers to support the company's customer-centric vision. Always focused on success, using powerful tools such as strategic planning and data analysis to realize the company's customer satisfaction goals.

In conclusion, Gunay Seyidova is a reliable customer service manager who increases the efficiency of the customer service department, manages to build long-term customer relationships by creating a close bond with customers, and makes important contributions to the company's growth.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail thumbnail-team no-border no-padding">
                                    <div class="media">
                                        <img src="{% static 'assets/img/preview/team/team-270x270x2.jpg' %}" alt=""/>
                                    </div>
                                    <div class="caption agents-pad">
                                        <h4 class="caption-title">Anar Jafarov <small>Group leader</small></h4>
                                        <ul class="social-icons">
                                            <li><a href="https://www.facebook.com/profile.php?id=100056406723015" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://twitter.com/emin4564" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="https://www.instagram.com/emin_official_m_ov/" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="https://www.pinterest.com/eminmm44/" class="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                        <div class="caption-text">Anar Jafarov is an experienced and capable group leader. Through his leadership, he creates a strong unity and cooperation among the group members. His vision and determination to achieve the goal helps to bring his organization to successful results.

Anar has strong communication skills and contributes to building excellent relationships with team members, combining ideas and opinions, discussing problems and finding creative solutions. Dedicated to revealing and developing the potential of team members and encouraging them to work more effectively on the project.

The fact that he has worked in various projects provides Anar with extensive experience and knowledge in various fields. His experience allows him to manage various guidelines, increase employee motivation and analyze the effectiveness of programs.
                                            
Also, Anar Jafarov helps the members of the group to clarify their obstacles in the current and future projects. It organizes trainings and exchange of experiences for their development and succeeds in increasing their skills and knowledge.
                                            
In conclusion, Anar Jafarov is a group leader who is known for his effective leadership and organizational skills and manages to reveal and develop the potentials of group members. Under his leadership, a strong environment is created for improvement and successful results in group projects.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail thumbnail-team no-border no-padding">
                                    <div class="media">
                                        <img src="{% static 'assets/img/preview/team/team-270x270x3.jpg' %}" alt=""/>
                                    </div>
                                    <div class="caption agents-pad">
                                        <h4 class="caption-title">Narmin Talibova <small>Technical support</small></h4>
                                        <ul class="social-icons">
                                            <li><a href="https://www.facebook.com/profile.php?id=100056406723015" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://twitter.com/emin4564" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="https://www.instagram.com/emin_official_m_ov/" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="https://www.pinterest.com/eminmm44/" class="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                        <div class="caption-text">Narmin Talibova is a well-known and experienced specialist in the field of technical support. Due to his interest and knowledge of technical issues, he is a technical support specialist who prioritizes his customers and succeeds in finding solutions.

Narmin has strong analytical and diagnostic skills to understand customers' requirements and find effective solutions to their technical problems. With the ability to build excellent relationships with customers and understand their technical questions, he provides them with a high level of technical support.
                                            
To solve existing technical problems and answer technical questions, Narmin uses various technical tools and resources to find high-quality and customer-friendly solutions. His professional technical knowledge and experience helps to solve the technical problems of the customers in minimum time.
                                            
Narmin Talibova longed to understand the satisfaction and technical support requirements of her customers. Known for being open-minded and collaborative towards improvements and innovations related to technical issues and customer requirements.
                                            
In conclusion, Narmin Talibova is a leader in technical support and an expert known for his customer support. By providing effective and personal technical support to customers, he overcomes their technical problems and earns the respect of his customers.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail thumbnail-team no-border no-padding">
                                    <div class="media">
                                        <img src="{% static 'assets/img/preview/team/team-270x270x4.jpg' %}" alt=""/>
                                    </div>
                                    <div class="caption agents-pad">
                                        <h4 class="caption-title">Seymur Mustafayev <small>Lawyer</small></h4>
                                        <ul class="social-icons">
                                            <li><a href="https://www.facebook.com/profile.php?id=100056406723015" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://twitter.com/emin4564" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="https://www.instagram.com/emin_official_m_ov/" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="https://www.pinterest.com/eminmm44/" class="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                        <div class="caption-text">Seymur Mustafayev is known as an experienced and successful professional in the field of law. Possessing extensive legal knowledge, Seymour provides high-level legal support and advice to his clients.

Seymour's strong legal research and analytical skills help him understand the issues at hand and develop appropriate and effective strategies for his clients. He analyzes the legal issues of his clients and offers them the best possible legal review service.
                                            
Seymur Mustafayev is active in following the innovations in the legal field, actual events and exchange of experience. He is dedicated to continuous development and self-improvement in the legal world.
                                            
In conclusion, Seymur Mustafayev is a legal expert known in the legal field for representing his clients well and offering them independence and accuracy. His activity and experience are appreciated by the clients and he helps his clients to solve their legal issues in the best possible way.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                <!-- /PAGE -->

            </div>
            <!-- /CONTENT AREA -->



            <div id="to-top" class="to-top"><i class="fa fa-angle-up"></i></div>

        </div>
        <!-- /WRAPPER -->
{% endblock content %}