<aside class="col-md-3 sidebar" id="sidebar">
                                <!-- widget -->

                                <!-- widget price filter -->
                                <div class="widget shadow widget-filter-price" style="height: 700px;">
                                    <h4 class="widget-title">Advertising</h4>
                                    <div class="widget-content">

                                    </div>
                                </div>
                                <!-- /widget price filter -->
                                <!-- widget testimonials -->
                                <div class="widget shadow">
                                    <div class="widget-title">Customer reviews</div>
                                    <div class="testimonials-carousel">
                                        <div class="owl-carousel" id="testimonials">
                                            <div class="testimonial">
                                                <div class="media">
                                                    <div class="media-body">
                                                        <div class="testimonial-text">"Rooftop Real Estate is one of the most trusted companies with excellent service and professional experience. Their employees put the customer experience first, based on the principles of partnership and respect. They supported me in the process of buying and selling a home and kept me informed every step of the way. Their efficiency and transparent I have no regrets because of their style. I am extremely pleased to work with Rooftop Real Estate and recommend them to anyone."</div>
                                                        <div class="testimonial-name"> <span class="testimonial-position"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="testimonial">
                                                <div class="media">
                                                    <div class="media-body">
                                                        <div class="testimonial-text">Rooftop Real Estate Company occupies a different place in the current real estate market. Their staff makes the property buying and selling process very easy and stress-free with customer friendliness and attention. The company gives very good feedback to the clients during the analysis and consultation phase and saves the valuable time and satisfaction of the clients. Rooftop Real Estate goes above and beyond to make real estate transactions that end in a fun and efficient experience, and I use them as my regular advisor.</div>
                                                        <div class="testimonial-name"> <span class="testimonial-position"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="testimonial">
                                                <div class="media">
                                                    <div class="media-body">
                                                        <div class="testimonial-text">"The staff of Rooftop Real Estate provided me with an exemplary experience. In the process of buying and selling real estate, I was very impressed by the partnership principles and transparent style of the company. Thanks to the information and advice they offered, I gained even more important information on the real estate market. My questions and requests Always patient and attentive and very pleased to work with them. I appreciate Rooftop Real Estate's excellent service and recommend it to my clients."</div>
                                                        <div class="testimonial-name"> <span class="testimonial-position"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /widget testimonials -->
                                <!-- widget helping center -->
                                <div class="widget shadow widget-helping-center">
                                    <h4 class="widget-title">Help Center</h4>
                                    <div class="widget-content">
                                        <p>A company's help center is a support and contact center designed to help customers solve their problems related to the products and services they provide, provide information and increase customer satisfaction. This center is managed by the company's customer service department and acts as a central service point for customers to contact in various ways.

The company's help center generally offers the following services:


<br>1. Customer Support Services: Provides proactive support via phone, email and live chat to resolve customer issues. Customer representatives strive to understand the problems faced by their customers and solve them as soon as possible.

<br>2. Technical Support: Provides technical support for customers who have problems with the Company's technical products and services. This may include cases requiring expertise in areas such as software issues, hardware issues, or installation assistance.</p>
                                        <h5 class="widget-title-sub">+994515560728</h5>
                                        <div class="button">
                                            <a href="{% url 'contact' %}" class="btn btn-block btn-theme btn-theme-dark">Support Center</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /widget helping center -->
                            </aside>